.banner {
  margin-bottom: 22rem;
  &__inner {
    position: relative;
  }

  &__swiper {
    margin: 0;
    &-wrapper {
      width: 100%;
      overflow: visible;
    }
  }
  &__button {
    width: 39rem;
    text-align: center;
  }
  &-slide {
    position: relative;
    padding: 28.3rem 0;
  
    &__content {
      position: relative;
      z-index: 5;
      margin-left: 16rem;
    } 
    &__title {
      width: 67.5rem;
      margin-bottom: 4rem;
      & span {
        color: $blue;
      }
    } 

    &__text {
      width: 48.2rem;
      margin-bottom: 6rem;
    }

    &__img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  &-btn-next {
    top: 50%;
    right: 24rem;
    transform: translate(0, -50%);
  }
  &-progress {
    position: absolute;
    z-index: 5;
    bottom: 4.3rem;
    right: 33.1rem;
    width: 31.5rem;
    height: 0.2rem;
    background: rgba(40, 41, 46, 0.50);
    & .swiper-pagination-progressbar-fill {
      height: 0.2rem;
      background: $black;
    }
  }
  &-btn {
    position: sticky;
    top: unset;
    bottom: 0;
    left: 167.9rem;
    z-index: 125;
  }
}

.banner-about {
  .banner {
    &__inner {
      display: flex;
      flex-direction: column;
    }
    &__title {
      margin-right: 14.4rem;
    }
    &__text {
      width: 77.5rem
    }
    &__title-wrap {
      display: flex;
      margin-top: 3.6rem;
      margin-bottom: 6rem;
    }
  }
}

.banner-services-detail {
  margin-bottom: 22rem;
  .title-wrap {
    align-items: flex-start;
  }
  &__title {
    width: 64rem;
  }
  &__text {
    width: 78rem;
  }
  &__video {
    position: relative;
    width: 100%;
    height: 68rem;
    cursor: pointer;
    &-control {
      position: absolute;
      z-index: 25;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 13.2rem;
      height: 13.2rem;
      cursor: pointer;
      & svg {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    & video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@media (max-width: 48em) {
  .banner {
    margin-bottom: 20rem;
    &__inner {
    }
  
    &__swiper {
      margin: 0;
      &-wrapper {
        width: 100%;
        overflow: visible;
      }
    }
    &__button {
      width: 39rem;
      text-align: center;
    }
    &-slide {
      position: relative;
      padding: 66.6rem 0 8rem;
    
      &__content {
        position: relative;
        z-index: 5;
        margin: 4.2rem 2rem 0;
      } 
      &__title {
        width: 100%;
        margin-bottom: 4.8rem;
      } 
  
      &__text {
        width: 95%;
        margin-bottom: 6.4rem;
      }
  
      &__img {
        width: 100%;
        height: 66.6rem;
      }
    }
    &-btn-next {
      display: none;
    }
    &-progress {
      background: transparent;
      height: fit-content;
      &.swiper-pagination-bullets {
        bottom: 0;
      }
    }
    &-btn {
      display: none;
    }
    &__button {
      padding: 2.7rem 5.1rem;
      font-size: 2.8rem;
      width: 100%;
    }
  }
}