.exclusivity {
  margin-bottom: 22rem;
  .swiper {
    overflow: visible;
  }
  &__title {
    margin-bottom: 10rem;
  }
  &__text {
    position: relative;
    top: 0;
    left: 0;
    width: 37rem;
  }
  &-swiper {
    //height: 87.1rem;
    margin-top: 0;
    &-wrap {
      position: relative;
      margin-top: -15rem;
      height: 93rem;
      padding-top: 15rem;
      overflow: hidden;
    }
    & .swiper-wrapper {
      overflow: visible;
      align-items: center;
    }
  }
  &__slider {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
  }
  &__slide {
    transition: all 0.5s ease-in-out;
    width: 100%;
    height: 100%;
    &-num {
      width: 10rem;
      color: $dies;
      text-align: left;
      margin-bottom: 1.2rem;
      transition: all 0.5s ease-in-out;
    }
    &-img {
      // width: 23.3rem;
      // height: 34.7rem;
      transition: all 0.5s ease-in-out;
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &.swiper-slide-active {
      height: 59.5rem;
      & .num {
        
      }
    }
    &.swiper-slide {
      height: 100%;
      width: 100%;
      transform: scale(0.55);
    }
  }
  &-btn-prev,
  &-btn-next {
    top: unset;
    left: unset;
    bottom: 0;
    right: 4.5rem;
  }
  &-btn-prev {
    right: 14.5rem;
  }
  &-pagination {
    top: 2.5rem;
    left: unset;
    right: 14.2rem;
    & .current {
      color: $blue;
    }
  }
}

@media (min-width: 48em) {
  .exclusivity {
    &-swiper {
      //margin-top: 6rem;
      &-wrap {
        &::before,
        &::after {
          content: '';
          position: absolute;
          z-index: 2;
          top: 0;
          height: 100%;
          width: calc((100vw - 100%) / 2);
          background-color: #f3f3f3;
        }
        &::before {
          left: 0;
          transform: translateX(-100%);
        }
        &::after {
          right: 0;
          transform: translateX(100%);
        }
      }
    }
  }
}
