.modal,
.modal2 {
  position: fixed;
  z-index: 500;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  &::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.70);
    backdrop-filter: blur(2px);
  }

  &__swiper {
   position: relative;
   z-index: 1000;
   width: 92.8rem;
  }
  &__slide {
    width: 100%;
    height: 69.5rem;
    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__wrapper {
    position: relative;
    padding: 4rem 0 3.5rem;
  }
  &__close {
      position: absolute;
      z-index: 1000;
      right: 0;
      top: 0;
      width: 4.4rem;
      height: 4.4rem;
      cursor: pointer;
  }
  & .swiper-pagination {
    color: $white;
    width: fit-content;
    position: absolute;
    z-index: 1000;
    left: 0;
    top: 0;
    font-size: 3.2rem;
  }
  &__wr {
      z-index: 105;
      width: 100%;
  }
  &-btn-prev,
  &-btn-next {
      position: absolute;
      z-index: 1000;
      top: 50%;
      transform: translate(0,-50%);
  }
  &-btn-prev {
      left: 0;
  }
  &-btn-next {
      left: unset;
      right: 0;
  }
  &.active {
    display: flex;
    animation: fade-in 0.5s ease-in-out;
  }
}

.modal-thumbs {
  &__swiper {
    position: relative;
    z-index: 1000;
    width: 54rem;
    margin-top: 3rem;
  }
  &__slide {
    width: 100%;
    cursor: pointer;
  }
}
.submit {
  .modal {
    &__wrapper {
      width: 74.9rem;
    }
    &__submit {
      position: relative;
      z-index: 1000;
      width: 74.9rem;
      padding: 8rem 21rem;
      text-align: center;
      background: $light-grey;
      &-title {
        width: 31.9rem;
        margin-bottom: 6rem;
      }
    }
    &__close {
      top: 3.2rem;
      right: 3.2rem;
      position: absolute;
      & svg {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}

@media (max-width: 48em) {
  .modal,
  .modal2 {
    position: fixed;
    z-index: 500;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    &::after {
      content: '';
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.70);
      backdrop-filter: blur(2px);
    }

    &__swiper {
    position: relative;
    z-index: 1000;
    width: 71rem;
    }
    &__slide {
      width: 100%;
      height: 93rem;
      & img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &__wrapper {
      position: relative;
      padding: 4.4rem 0 16.8rem;
    }
    &__close {
        position: absolute;
        z-index: 1000;
        right: 3.6rem;
        top: 0;
        width: 3.2rem;
        height: 3.2rem;
        cursor: pointer;
    }
    & .swiper-pagination {
      display: none;
    }
    &__wr {
        z-index: 105;
        width: 100%;
    }
    &-btn-prev,
    &-btn-next {
        position: absolute;
        z-index: 1000;
        top: unset;
        bottom: 0;
    }
    &-btn-prev {
        left: 2rem;
    }
    &-btn-next {
        left: unset;
        right: 2rem;
    }
    &.active {
      display: flex;
      animation: fade-in 0.5s ease-in-out;
    }
  }

  .modal-thumbs {
    &__swiper {
      display: none;
    }
  }
}