.steps {
  &__inner {
    margin-bottom: 22rem;
  }
  &__title {
    margin-bottom: 10rem;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    &-image {
      width: 60rem;
      height: 90.6rem;
      & img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &-list {
      width: 93.5rem;
      display: flex;
      flex-direction: column;
      margin-left: 6rem;
      margin-right: 0;
      //row-gap: 6rem;
    }
    &-item {
      display: flex;
      align-items: flex-start;
      width: 100%;
      height: fit-content;
      padding-bottom: 6rem;
      padding-right: 9.7rem;
      border-bottom: 0.1rem solid #DCDCDC;
      font-family: 'Gilroy';
      font-size: 3.2rem;
      font-weight: 500;
      line-height: 93%;
      color: $black;
      &-num {
        margin-right: 4rem;
      }
      &-title {
        margin-bottom: 4rem;
      }
      &-text {
        & a,
        & span {
          color: $blue;
          font-weight: 600;
          line-height: normal;
        }
      }
      &-list {
        margin-left: 3rem;
        & li {
          font-family: 'Gilroy';
          font-size: 2rem;
          font-weight: 400;
          line-height: normal;
          color: $black;
          list-style-type: disc;
        }
      }
      &:last-child {
        border: 0;
        padding-bottom: 0;
      }
    }
  }
  &.steps-services {
    .steps {
      &__content {
        margin-left: 0;
        height: fit-content;
        &-item {
          width: 100%;
          position: relative;
          padding: 6rem 0 5rem;
          transition: all 0.3s ease-in-out;
          &-description {
            display: flex;
            justify-content: space-between;
            width: 119rem;
          }
          &-num {
            margin-right: 35.9rem;
          }
          &-title {
            width: 43.9rem;
            margin-right: 24.7rem;
            .br {
              display: block;
            }
          }
          &-text {
            width: 50.4rem;
          }
          &-img {
            position: absolute;
            top: -6.8rem;
            left: 8rem;
            width: 30rem;
            & img {
              width: 100%;
              height: 100%;
            }
          }
          &:hover {
            color: $blue;
            .steps__content-item-num,
            .steps__content-item-text {
              color: $blue;
            }
          }
          &:last-child {
            border-bottom: 0.1rem solid #DCDCDC;
          }
          &:first-child {
            border-top: 0.1rem solid #DCDCDC;
          }
        }
        &-list {
          width: 100%;
          row-gap: 0;
          overflow: visible;
        }
      }
    }
  }
}

@media (max-width: 48em) {
  .steps {
    &__inner {
      margin-bottom: 20rem;
    }
    &__title {
      margin-bottom: 8rem;
    }
    &__content {
      position: relative;
      display: flex;
      justify-content: space-between;
      padding-bottom: 8rem;
      &-image {
        display: none;
      }
      &-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-left: 0;
        row-gap: 6rem;
      }
      &-item {
        display: flex;
        align-items: flex-start;
        width: 100%;
        height: 40.2rem;
        padding: 6.4rem 0 6.4rem 0;
        border-bottom: 0.1rem solid #DCDCDC;
        border-top: 0.1rem solid #DCDCDC;
        font-family: 'Gilroy';
        font-size: 3.6rem;
        font-weight: 500;
        line-height: 166%;
        color: $black;
        &-num {
          margin-right: 4rem;
          font-size: 3.6rem;
        }
        &-title {
          margin-bottom: 4.8rem;
        }
        &-text {
          & a {
            color: $blue;
            font-weight: 600;
            line-height: normal;
          }
        }
        &:last-child {
          border-bottom: 0.1rem solid #DCDCDC;
          border-top: 0.1rem solid #DCDCDC;
        }
        &-list {
          margin-left: 3rem;
          & li {
            font-family: 'Gilroy';
            font-size: 2.8rem;
            font-weight: 400;
            line-height: normal;
            color: $black;
            list-style-type: disc;
          }
        }
      }
    }
    &.steps-services {
      .steps {
        &__content {
          margin-left: 0;
          height: fit-content;
          &-item {
            width: 100%;
            height: 81rem;
            display: flex;
            flex-direction: column;
            padding: 6.4rem 0;
            border-bottom: 0.1rem solid #DCDCDC;
            border-top: 0.1rem solid #DCDCDC;
            &-num {
              left: 0;
              margin-right: 4rem;
            }
            &-description {
              margin-top: -6rem;
              flex-direction: column;
              width: 63.4rem;
              padding-left: 7.6rem;
            }
            &-title {
              width: 100%;
              margin-right: 0;
              margin-bottom: 4.8rem;
              .br {
                display: none;
              }
            }
            &-text {
              width: 100%;
            }
            &-img {
              position: relative;
              display: block;
              top: 0rem;
              left: 0rem;
              width: 100%;
              height: 32rem;
              margin-bottom: 4.8rem;
              & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
              }
            }
          }
          &-list {
            position: relative;
            margin-left: 0;
            width: 100%;
            row-gap: 0;
            overflow: hidden;
          }
        }
      }
    }
  }
}