.steps {
  &__inner {
    margin-bottom: 22rem;
  }
  &__title {
    margin-bottom: 10rem;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    &-image {
      width: 60rem;
      height: 90.6rem;
      & img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &-list {
      display: flex;
      flex-direction: column;
      margin-left: 6rem;
      margin-right: 0;
      row-gap: 6rem;
    }
    &-item {
      display: flex;
      align-items: flex-start;
      width: 90.5rem;
      height: fit-content;
      padding-bottom: 6rem;
      padding-right: 9.7rem;
      border-bottom: 0.1rem solid #DCDCDC;
      font-family: 'Gilroy';
      font-size: 3.2rem;
      font-weight: 500;
      line-height: 93%;
      color: $black;
      &-num {
        margin-right: 4rem;
      }
      &-title {
        margin-bottom: 4rem;
      }
      &-text {
        & a {
          color: $blue;
          font-weight: 600;
          line-height: normal;
        }
      }
      &-list {
        margin-left: 3rem;
        & li {
          font-family: 'Gilroy';
          font-size: 2rem;
          font-weight: 400;
          line-height: normal;
          color: $black;
          list-style-type: disc;
        }
      }
      &:last-child {
        border: 0;
        padding-bottom: 0;
      }
    }
  }
  &.steps-services {
    .steps {
      &__content {
        &-item {
          width: 100%;
          position: relative;
          padding: 6rem 0 5rem;
          transition: all 0.3s ease-in-out;
          &-num {
            margin-right: 35.9rem;
          }
          &-title {
            width: 35.5rem;
            margin-right: 33rem;
          }
          &-text {
            width: 50.4rem;
          }
          &-img {
            position: absolute;
            top: -6.8rem;
            left: 8rem;
            width: 30rem;
            & img {
              width: 100%;
              height: 100%;
            }
          }
          &:hover {
            color: $blue;
            .steps__content-item-num,
            .steps__content-item-text {
              color: $blue;
            }
          }
          &:last-child {
            border-bottom: 0.1rem solid #DCDCDC;
          }
          &:first-child {
            border-top: 0.1rem solid #DCDCDC;
          }
        }
        &-list {
          width: 100%;
          row-gap: 0;
        }
      }
    }
  }
}

@media (max-width: 48em) {
  .steps {
    &__inner {
      margin-bottom: 22rem;
    }
    &__title {
      margin-bottom: 10rem;
    }
    &__content {
      position: relative;
      display: flex;
      justify-content: space-between;
      padding-bottom: 8rem;
      &-image {
        display: none;
      }
      &-list {
        display: flex;
        flex-direction: column;
        margin-left: 0;
        row-gap: 6rem;
      }
      &-item {
        display: flex;
        align-items: flex-start;
        width: 90.5rem;
        height: 40.2rem;
        padding: 6.4rem 0 6.4rem 0;
        border-bottom: 0.1rem solid #DCDCDC;
        border-top: 0.1rem solid #DCDCDC;
        font-family: 'Gilroy';
        font-size: 3.6rem;
        font-weight: 500;
        line-height: 166%;
        color: $black;
        &-num {
          margin-right: 4rem;
          font-size: 3.6rem;
        }
        &-title {
          margin-bottom: 4.8rem;
        }
        &-text {
          & a {
            color: $blue;
            font-weight: 600;
            line-height: normal;
          }
        }
        &:last-child {
          border-bottom: 0.1rem solid #DCDCDC;
          border-top: 0.1rem solid #DCDCDC;
        }
        &-list {
          margin-left: 3rem;
          & li {
            font-family: 'Gilroy';
            font-size: 2.8rem;
            font-weight: 400;
            line-height: normal;
            color: $black;
            list-style-type: disc;
          }
        }
      }
    }
  }
}