<section class="modal submit">
  <div class="modal__wrapper container">
    <div class="modal__submit">
      <div class="modal__close">
        <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 44 44" fill="none">
          <path d="M34 10L10 34" stroke="#28292E" stroke-width="3.67" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M10 10L34 34" stroke="#28292E" stroke-width="3.67" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </div>
      <div class="modal__submit-title title">Ваша заявка отправлена</div>
      <button class="button modal__button" type="button">Продолжить</button>
    </div>
  </div>
</section>

<footer class="footer">
  <div class="footer__inner">
    <div class="container">
      <div class="footer__top">
        <div class="footer__top-logo">
          <img src="./assets/images/icons/logo.svg" alt="">
        </div>
        <div class="footer__top-nav-wrap">
          <div class="footer__top-nav">
            <ul class="footer__top-nav-list">
              <li>
                <a class="link" href="#">Каталог</a>
              </li>
              <li>
                <a class="link" href="#">Наши работы</a>
              </li>
              <li>
                <a class="link" href="#">О компании</a>
              </li>
              <li>
                <a class="link" href="#">Вопрос-ответ</a>
              </li>
              <li>
                <a class="link" href="#">Контакты</a>
              </li>
            </ul>
          </div>
          <div class="footer__top-contacts">
            <a class="link text" href="#">email@mail.ru</a>
            <a class="link text" href="#">+ 7 (900) 000 00-00</a>
          </div>
        </div>
      </div>
      <div class="footer__bottom">
        <div class="footer__bottom-text">© 2023 Права защищены</div>
        <div class="footer__bottom-text">
          <a class="link" href="#">Положение об обработке и защите персональных данных сотрудников</a>
        </div>
        <div class="footer__bottom-inc">
          <div class="footer__bottom-inc-icon">
            <img src="./assets/images/icons/rd-icon.svg" alt="">
          </div>
          <span>Разработано Request Design</span>
        </div>
      </div>
    </div>
  </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>