//colors//
$black: #28292E;
$white: #F3F3F3;
$blue: #2E8EC7;
$d-blue: #0D71AC;
$dies: #E9E9E9;
$grey: #959595;
$disable: #BEBEBE;

body {
  background-color: $white;
}

//text//

.heading {
  font-family: 'Gilroy';
  font-size: 6rem;
  font-weight: 600;
  line-height: 100%;
  color: $black;
}

.title {
  font-family: 'Gilroy';
  font-size: 5.2rem;
  font-weight: 500;
  line-height: 125%;
  color: $black;
}

.title-sm {
  font-family: 'Gilroy';
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 93.7%;
  color: $black;
}

.text {
  font-family: 'Gilroy';
  font-size: 2rem;
  font-weight: 400;
  line-height: 100%;
  color: $black;
}

.title-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10rem;
}

.num {
  font-family: 'Gilroy';
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 93%;
  color: $black;
}

//blocks//
.phone__block {
  display: flex;
  flex-direction: column;
  &-num {
    display: flex;
    font-family: 'Gilroy';
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 100%;
    color: $black;
    &-icon {
      width: 2.4rem;
      height: 2.4rem;
      margin-right: 1.2rem;
      & img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  &-text {
    margin-top: 0.6rem;
  }
}

.form__input {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
  &:last-of-type {
    margin-bottom: 0;
  }
}

form {
  & label {
    font-family: 'Gilroy';
    font-size: 2rem;
    font-weight: 400;
    line-height: 150%;
    color: $grey;
  }
  & input {
    width: 60.2rem;
    padding: 1.9rem 2rem;
    margin-top: 1.6rem;
    background: $dies;
    color: $black;
    cursor: auto;
    &::placeholder {
      font-family: 'Gilroy';
      font-size: 2rem;
      font-weight: 400;
      line-height: 150%;
      color: $grey;
    }
  }
  & select {
    width: 50.7rem;
    padding: 1.7rem 2rem;
    margin-top: 1.6rem;
    border: 0;
    background: $dies;
  }
}

//buttons//

.button {
  padding: 2rem 5.1rem;
  background-color: $blue;
  font-family: 'Gilroy';
  font-size: 2rem;
  font-weight: 600;
  line-height: 100%;
  color: $white;
}

.btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  & span {
    font-family: 'Gilroy';
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    color: $black;
    margin-right: 2.4rem;
  }
  & div {
    display: flex;
    justify-content: center;
    background: $blue;
    width: 7.2rem;
    height: 7.2rem;
    align-items: center;
    & img {
      width: 2.4rem;
      height: 2.4rem;
      object-fit: contain;
    }
  }
}

.swiper-wrapper {
  overflow: hidden;
}

.swiper-button-next,
.swiper-button-prev {
  width: auto;
  height: auto;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  content: none;
}

.swiper-button-next::before,
.swiper-button-prev::before {
  content: '';
  width: 2.4rem;
  height: 2.4rem;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
// .swiper-button-next::before {
//   background-image: url(../assets/images/icons/sl-arrow-left.svg);
// }

// .swiper-button-prev::before {
//   background-image: url(../assets/images/icons/sl-arrow-left.svg);
// }

.btn-prev.swiper-button-disabled,
.btn-next.swiper-button-disabled {
  background-color: #BEBEBE;
  &::before {
    background-image: url(./assets/images/icons/sl-arrow-inactive.svg);
  }
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 1;
}

.btn-next,
.btn-prev {
  display: flex;
  justify-content: center;
  background: $dies;
  width: 8.8rem;
  height: 8.8rem;
  & img {
    width: 2.4rem;
    height: 2.4rem;
    object-fit: contain;
  }
  &::before {
    content: none;
  }
}

.btn-prev {
  & img {
    transform: rotate(-180deg);
  }
}

// .pagination-slider {
//   font-family: Montserrat;
//   font-size: 2rem;
//   line-height: 120%;
//   color: rgba(51, 51, 51, 0.5);
//   & .total {
//     font-weight: 700;
//     font-size: 3rem;
//     color: $blue;
//   }
//   & .current {
//     margin-right: 1rem;
//   }
// }
// .swiper-button-next.swiper-button-disabled,
// .swiper-button-prev.swiper-button-disabled {
//   opacity: 1;
// }
.swiper-horizontal > .swiper-pagination-progressbar {
  left: unset;
  top: unset;
  width: 31.5rem;
  height: 0.2rem;
}

// .swiper-pagination .swiper-pagination-bullet {
//   width: 1.3rem;
//   height: 1.3rem;
//   background-color: transparent;
//   border: 1px solid rgba(51, 51, 51, 0.5);
//   border-radius: 50%;
//   opacity: 1;
//   &:not(:last-child) {
//     margin-right: 2.6rem;
//   }
// }
// .swiper-pagination .swiper-pagination-bullet-active {
//   border: 1px solid #fe7200;
//   background-color: #fe7200;
// }